<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema De Acesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <form method="POST"><!--Entrada-->
        <h1>Bem-vindo</h1>
        <h2>SISTEMA DE ACESSO</h2>
        
        <input type="text" name="nome" placeholder="Digite seu nome" required>
        <input type="number" name="idade" placeholder="Digite sua idade" required>
        <input type="text" name="cadastro" placeholder="Digite seu cadastro (sim ou não)" required>
        
        <button type="submit">Enviar</button>

        <hr>
        <!-- Processamento de Dados -->
         <!--saida-->
        {% if resposta %}
            <div class="resultado">
                <h3>Processamento De Dados.</h3>
                <p>{{ resposta }}</p>
            </div>
        {% endif %}
    </form>

</body>
</html>


